services:

  frontend:
    # image: repo/team/frontend:dev
    build:
      context: .
      dockerfile: .
    # 开放的端口
    ports:
      - '80:80'
      - '443:443/tcp'
      - '443:443/udp'
    # 环境变量
    #environment:
    #  -
    #restart: unless-stopped
    restart: always
    pull_policy: always
    # volumes:
    #   - /home/nginx/ssl:/etc/nginx/ssl
    #   - /home/nginx/conf:/etc/nginx/conf.d
    container_name: frontend # 运行的容器名称

# 运行示例:
# 在项目根目录时, 需要添加 -f 指定前端的docker-compose.yml的位置:
# docker-compose -f frontend/docker-compose.yml up -d
# 在frontend目录时:
# docker-compose up -d

# 查看部署
# docker-compose -f frontend/docker-compose.yml ps

# 查看日志
# docker-compose -f frontend/docker-compose.yml logs

# 停止
# docker-compose -f frontend/docker-compose.yml down
